.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include flex-custom(space-between, center);
  padding: 40px 0;

  z-index: 1;

  &--menu {
    display: flex;
    justify-content: center;
    color: $white;
    cursor: pointer;

    li {
      @include font-custom(18px, 700);
      margin: 0 0.8em;

      &:hover {
        color: $orange-hover;
      }
    }

    &--active {
      color: $orange-hover;
    }
  }

  &--hamburger {
    position: absolute;
    top: 35px;
    right: 50px;

    width: 50px;
    height: 50px;

    background-color: $white;
    border-radius: 8px;

    display: none;
    cursor: pointer;

    z-index: 3;

    &--wrapper {
      @include flex-center;
      flex-direction: column;
      width: 100%;
      height: 100%;

      &--bar {
        width: 2rem;
        height: 0.25rem;
        background-color: $black;
        border-radius: 8px;
        transition: all 0.25s ease;

        &:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }

    &:hover {
      color: $orange-hover;
    }
  }
}

.navbar-mobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  @include flex-center;

  z-index: 1;
  background-color: $orange;

  &--menu {
    text-align: center;
    line-height: 50px;
    font-size: 18px;

    &--active {
      color: $white;
      font-weight: 700;
    }
  }
}

.hero-section {
  position: relative;
  overflow: hidden;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font-custom(96px, 700);
    color: $orange;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .navbar {
    &--hamburger {
      display: block;
    }

    &--menu,
    &--action {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    &--hamburger {
      display: block;
      top: 15px;
      right: 15px;
    }
  }
}
